<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <!--
 Required only if your app needs to access images or photos
     that other apps created.
    -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!--
 Required only if your app needs to access videos
         that other apps created.
    -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission
        android:name="android.permission.CAPTURE_VIDEO_OUTPUT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DrMDMedicine"
        tools:targetApi="31" >
     >
        <activity
            android:name=".Admin_panel.Disease.DiseaseActivity"
            android:exported="false" />
        <activity
            android:name=".LoginOptionActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Admin_panel.activity.NewAppointmentsActivity"
            android:exported="false" />
        <activity
            android:name=".Admin_panel.Patient_data_view.medicine.PatientMedicineViewActivity"
            android:exported="false" />
        <activity
            android:name=".Admin_panel.Patient_data_view.medicine.PatientMedicineAddActivity"
            android:exported="false" />
        <activity
            android:name=".Admin_panel.Patient_data_view.medicine.PatientMedicineActivity"
            android:exported="false" />
        <activity
            android:name=".Admin_panel.Patient_data_view.report.ReportViewActivity"
            android:exported="false" />
        <activity
            android:name=".Admin_panel.Patient_data_view.report.AddReportActivity"
            android:exported="false" />
        <activity
            android:name=".Admin_panel.Patient_data_view.report.PatientReportActivity"
            android:exported="false" />
        <activity
            android:name=".Admin_panel.Patient_data_view.PatientDataViewActivity"
            android:exported="false" />
        <activity
            android:name=".Admin_panel.activity.AddPatientActivity"
            android:exported="false" />
        <activity
            android:name=".Admin_panel.activity.MedicineViewActivity"
            android:exported="false" />
        <activity
            android:name=".Admin_panel.activity.AdminLoginActivity"
            android:exported="true" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Admin_panel.activity.AddMedicineActivity"
            android:exported="false" />
        <activity
            android:name=".Admin_panel.activity.AdminHomeActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>